h1{
     font-family: 'Goudy Bookletter 1911', serif;
     text-align: center;
     }
    
     td {
 height:300px;
    width:150px;
    border: 6px solid white;
    }
    body{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
 #one{
     background: #9400D3;
    }
     #two{
   background: #4B0082;
    }
 #three{
     background: #0000FF ;
    }
     #four{
     background: #00FF00 ;
    }
     #five{
     background: #FFFF00;
    }
 #six{
     background: #FF7F00;
}
     #seven{
     background: #FF0000;
    } 